/* modern CSS reset

1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: #0e0e0e;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}



.container {
    display: grid;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: auto 1fr;
    min-height: 0;
    width: 100%;
    max-width: 1460px;
    margin: 10px auto;

}

.sidebar {
    background-color: #6C7665;
    grid-row: 1/3;
    padding: 0 25px;
    color: #ffffff;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.dash {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.dash img {
    width: 40px;
    height: 45px;
    filter: invert(100%);
}


.user-func,
.user-controls {
    padding-top: 40px;
}

.user-func img,
.user-controls img,
.search-bar img,
.prof-pic img:first-child {
    width: 22px;
    height: 22px;
}

.user-func img,
.user-controls img {
    filter: invert(100%);
}


.sidebar ul {
    padding: 0;
}

.sidebar-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
    list-style-type: none;
    font-size: 22px;
}

.header {
    background-color: #f9fbf0f8;
    display: grid;
    grid-template-columns: 6.5fr 3.5fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 30px 10px 30px;
    box-shadow: 0 10px 0px #ccc;
    margin-bottom: 5px;
}

.search-bar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 30px;
    grid-area: 1/1/2/2;
    margin-left: 0px;
}

.search-bar input {
    width: 600px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 2px solid #6C7665;
}

.grettings {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
}

.grettings img {
    width: 69px;
    height: 69px;
    border-radius: 50%;

}

.prof-pic {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: 25px;
    justify-self: end;
    padding-right: 30px;
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
}

.links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.links div {
    width: 90px;
    height: 36px;
    border-radius: 22px;
    background-color: #6C7665;
    text-align: center;
    padding-top: 5px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.main-content {
    background-color: #F9FBF0;
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 1fr;
    padding: 30px 30px 30px 40px;

}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-area: 2/1/3/2;
    gap: 30px;
    margin-right: 30px;
}

.project-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 7px;
    display: grid;
    grid-template-rows: 1fr auto;
}

.project-item p {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
}

.feed-info p {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 10px;
}

.project-icons {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 10px;
    justify-self: end;
}

.project-icons img {
    width: 22px;
    height: 22px;
}

.feed-trend {
    grid-area: 2/2/3/3;
}

.feed-info {
    font-size: 12px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 7px;
}

.bottom-border {
    border-bottom: 1px solid #6C7665;
}

.padding-top {
    padding-top: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}


.trending {
    padding-top: 40px;
}

.trending-links {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 7px;
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
}

.trending-links>div {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 5px;
}

.trending-links p {
    font-size: 14px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.main-content h3,
.trending h3 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    padding-bottom: 5px;

}