/* modern CSS reset

1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: #0e0e0e;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}



.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    margin-top: 130px;

}

.sidebar {
    background-color: aqua;
    grid-row: 1/3;
}

.sidebar div {
    padding-top: 40px;
}

li {
    list-style-type: none;
}

.header {
    background-color: bisque;
    display: grid;
    grid-template-columns: 6.5fr 3.5fr;
    grid-template-rows: 1fr 1fr;
}

.links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.links div {
    width: 90px;
    height: 36px;
    border-radius: 10px;
    background-color: cadetblue;
    text-align: center;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.main-content {
    background-color: darkgray;
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 30px 1fr 1fr;
    padding: 20px;

}

.main-content h3 {
    grid-area: 1/1/2/2;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-area: 2/1/4/2;
    gap: 30px;
    margin-right:20px;
}

.projects div {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 7px;

}

.feed {
    grid-area: 1/2/3/3;
}

.feed h3 {
    height: 30px;
}

.feed-info {
    font-size: 12px;
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 7px;
}

.bottom-border {
    border-bottom: 1px solid #ccc;
}

.padding-top {
    padding-top: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}


.trending {
    grid-area: 3/2/4/3;
    padding-top: 20px;
}

.trending-links{
    background-color: brown;
    padding: 20px;
    border-radius: 7px;
}
